body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #222222;
}

.container {
	width: 97%;
	margin-left: 3%; 
	margin-top: 5%
}

a {
	text-decoration: none;
}
p {
	font-size: 18px;
}
h1 {
	margin-left: 2%;
}
h2 {
	margin-left: 2%;
}
span {
	font-size: 24px;
	padding-left: 10px;
}
.mail {
	margin-left: 7%;
}
.btn {
	margin-left: 33%;
	margin-top: 1%;
	font-size: 20px;
}

