html, body{
	height: 100%;
	width: 100%;
	-webkit-user-select: none;
	user-select: none; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

.display-block{
	display: block;
}
.display-none{
	display: none;
}
.inline-block{
	display: inline-block;
}

.absolute{
	position: absolute !important;
}

.relative{
	position: relative !important;
}
.fixed {
	position: fixed;
}
.active {

}

/* Header     ******************************************************************* */
.header {
	background: #555134;
	padding-bottom: 5%;
	padding-top: 4%;
}

.container {

}
.logo {
	margin-top: -1%;
}

.img_logo {
	display: block;
	width: 50%;
}
.menu_item {
	margin: 3% 8% 0;
}
.menu_item a {
	font-size: 22px;
	font-weight: 600;
	color: #E8E39C;
	text-decoration: none;
}
/* Description ********************** */
.offer {
	margin-top: 15%;
}
.offer_title {
	font-size: 26px;
	color: #000;
}
.offer_text {
	font-size: 18px;
	margin-top: 3%;
	color: #000;
}

.gym_pick {
	display: block;
	margin: 18% auto 0;
	width: 100%;
}

/* Section Game ******************************************************************* */
.game {
	padding-bottom: 5%;
	padding-top: 3%;
	background: #EFEDE4;
}
.store-img {
	display: block;
	width: 20%;
}

.container-game {
	margin-top: 5%;
}

/* GYM CSS *******************************************************************************************************************************/
/*Локация*/
.container-svg {
	width: 405px;
	height: 720px;
}

#game-dumbbells, #game-menu, #game-inventory, #game-btns, #game-options, #game-load-window, #game-start-window {
	top: 0;
	left: 0;
}
#game-btns  {
	position: fixed;
}

#game-info-shop {
	position: fixed;
	top: 40%;
	left: 25%;
}

#game-money-shop {
	position: fixed;
	top: 13%;
	left: 3%;
}

#main-data {
	display: block;
	top: 11.2%;
	left: 0;
}

#game-shop {
	top: 0;
	left: -90%;
}


/* Главное окно */
#game-dumbbells, #game-bikes, #game-btns,
/* Кнопки стартового окна */
#sw-start, #sw-continue, #sw-reset,
/* Dumb Loc WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/
/* Левые ноги */
#left-leg1_2_, #left-leg2, #left-leg3, #left-leg4, #left-leg5, #left-leg6, #left-leg7, #left-leg8, #left-leg9, #left-leg10, #left-leg11, #left-leg12, #left-leg13, #left-leg14, #left-leg15, #left-leg16, #left-leg17, #left-leg18, #left-leg19, #left-leg20, #left-leg21, #left-leg22, #left-leg23, #left-leg24, #left-leg25,
/* Правые ноги */
#right-leg1_2_, #right-leg2, #right-leg3, #right-leg4, #right-leg5, #right-leg6, #right-leg7, #right-leg8, #right-leg9, #right-leg10, #right-leg11, #right-leg12, #right-leg13, #right-leg14, #right-leg15, #right-leg16, #right-leg17, #right-leg18, #right-leg19, #right-leg20, #right-leg21, #right-leg22, #right-leg23, #right-leg24, #right-leg25,

/* Тела */
#body1_1_, #body3_1_, #body4_1_, #body5_1_, #body6_1_, #body7_1_, #body8_1_, #body9_1_, #body10_1_, #body11_1_, #body12_1_, #body13_1_, #body14_1_, #body15_1_, #body16_1_, #body17_1_, #body18_1_, #body19_1_, #body20_1_, #body21_1_, #body22_1_, #body23_1_, #body24_1_, #body25_1_,
/* Труселя */
#underpants, #underpants3, #underpants4, #underpants5, #underpants6, #underpants7, #underpants9, #underpants11, #underpants12, #underpants13, #underpants14, #underpants15, #underpants16, #underpants17, #underpants18, #underpants19, #underpants20, #underpants21, #underpants22, #underpants23_1_, #underpants24, #underpants25,
/* Лица */
#face1_1_, #face18_1_, #face19_1_, #face20_1_, #face21_1_, #face22_1_, #face25_1_,
/* Оскал */
#mouth2_1_,

/* Левые плечи */
#second-left-arm1_1_, #second-left-arm2_1_, #second-left-arm3_1_, #second-left-arm4_1_, #second-left-arm5_1_, #second-left-arm6_1_, #second-left-arm7_1_, #second-left-arm8_1_, #second-left-arm9_1_, #second-left-arm10_1_, #second-left-arm11_1_, #second-left-arm12_1_, #second-left-arm13_1_, #second-left-arm14_1_, #second-left-arm15_1_, #second-left-arm16_1_, #second-left-arm17_1_, #second-left-arm18_1_, #second-left-arm19_1_, #second-left-arm20_1_, #second-left-arm21_1_, #second-left-arm22_1_, #second-left-arm23_1_, #second-left-arm24_1_, #second-left-arm25_1_,
/* Левые предплечья */
#first-left-arm1, #first-left-arm2, #first-left-arm3, #first-left-arm4, #first-left-arm5, #first-left-arm6, #first-left-arm7_1_, #first-left-arm8_1_, #first-left-arm9_1_, #first-left-arm10_1_, #first-left-arm11_1_, #first-left-arm12_1_, #first-left-arm13_1_, #first-left-arm14_1_, #first-left-arm15_1_, #first-left-arm16_1_, #first-left-arm17_1_, #first-left-arm18_1_, #first-left-arm19_1_, #first-left-arm20_1_, #first-left-arm21_1_, #first-left-arm22_1_, #first-left-arm23_1_, #first-left-arm24_1_, #first-left-arm25_1_,
/* Левые гантели */
#left-dumbbell1_1_, #left-dumbbell2, #left-dumbbell3, #left-dumbbell4, #left-dumbbell5, #left-dumbbell6, #left-dumbbell7, #left-dumbbell8, #left-dumbbell9, #left-dumbbell10,

/* Правые плечи */
#second-right-arm1_1_, #second-right-arm2_1_, #second-right-arm3_1_, #second-right-arm4_1_, #second-right-arm5_1_, #second-right-arm6_1_, #second-right-arm7_1_, #second-right-arm8_1_, #second-right-arm9_1_, #second-right-arm10_1_, #second-right-arm11_1_, #second-right-arm12_1_, #second-right-arm13_1_, #second-right-arm14_1_, #second-right-arm15_1_, #second-right-arm16_1_, #second-right-arm17_1_, #second-right-arm18_1_, #second-right-arm19_1_, #second-right-arm20_1_, #second-right-arm21_1_, #second-right-arm22_1_, #second-right-arm23_1_, #second-right-arm24_1_, #second-right-arm25_1_,
/* Правые предплечья */
#first-right-arm1, #first-right-arm2, #first-right-arm3, #first-right-arm4, #first-right-arm5, #first-right-arm6, #first-right-arm7_1_, #first-right-arm8_1_, #first-right-arm9_1_, #first-right-arm10_1_, #first-right-arm11_1_, #first-right-arm12_1_, #first-right-arm13_1_, #first-right-arm14_1_, #first-right-arm15_1_, #first-right-arm16_1_, #first-right-arm17_1_, #first-right-arm18_1_, #first-right-arm19_1_, #first-right-arm20_1_, #first-right-arm21_1_, #first-right-arm22_1_, #first-right-arm23_1_, #first-right-arm24_1_, #first-right-arm25_1_,
/* Правые гантели */
#right-dumbbell1_1_, #right-dumbbell2_2_, #right-dumbbell3_2_, #right-dumbbell4_2_, #right-dumbbell5_2_, #right-dumbbell6_2_, #right-dumbbell7_1_, #right-dumbbell8_1_, #right-dumbbell9_1_, #right-dumbbell10_1_,
/*Bike Loc  WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWwWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/
/* Левые голени */
#first-left-leg1_2_, #first-left-leg2_1_, #first-left-leg3_1_, #first-left-leg4_1_, #first-left-leg5_1_, #first-left-leg6_1_, #first-left-leg7_1_, #first-left-leg8_1_, #first-left-leg9_1_, #first-left-leg10_1_, #first-left-leg11_1_, #first-left-leg12_1_, #first-left-leg13_1_, #first-left-leg14_1_, #first-left-leg15_1_, #first-left-leg16_1_, #first-left-leg17_1_, #first-left-leg18_1_, #first-left-leg19_1_, #first-left-leg20_1_, #first-left-leg21_1_, #first-left-leg22_1_, #first-left-leg23_1_, #first-left-leg24_1_, #first-left-leg25_1_,
/* Левые ляхи */
#second-left-leg1_2_, #second-left-leg2_1_, #second-left-leg3_1_, #second-left-leg4_1_, #second-left-leg5_1_, #second-left-leg6_1_, #second-left-leg7_1_, #second-left-leg8_1_, #second-left-leg9_1_, #second-left-leg10_1_, #second-left-leg11_1_, #second-left-leg12_1_, #second-left-leg13_1_, #second-left-leg14_1_, #second-left-leg15_1_, #second-left-leg16_1_, #second-left-leg17_1_, #second-left-leg18_1_, #second-left-leg19_1_, #second-left-leg20_1_, #second-left-leg21_1_, #second-left-leg22_1_, #second-left-leg23_1_, #second-left-leg24_1_, #second-left-leg25_1_,
/* Правые голени */
#first-right-leg1, #first-right-leg2_1_, #first-right-leg3_1_, #first-right-leg4_1_, #first-right-leg5_1_, #first-right-leg6_1_, #first-right-leg7_1_, #first-right-leg8_1_, #first-right-leg9_1_, #first-right-leg10_1_, #first-right-leg11_1_, #first-right-leg12_1_, #first-right-leg13_1_, #first-right-leg14_1_, #first-right-leg15_1_, #first-right-leg16_1_, #first-right-leg17_1_, #first-right-leg18_1_, #first-right-leg19_1_, #first-right-leg20_1_, #first-right-leg21_1_, #first-right-leg22_1_, #first-right-leg23_1_, #first-right-leg24_1_, #first-right-leg25_1_,
/* Правые ляхи */
#second-right-leg1, #second-right-leg2_1_, #second-right-leg3_1_, #second-right-leg4_1_, #second-right-leg5_1_, #second-right-leg6_1_, #second-right-leg7_1_, #second-right-leg8_1_, #second-right-leg9_1_, #second-right-leg10_1_, #second-right-leg11_1_, #second-right-leg12_1_, #second-right-leg13_1_, #second-right-leg14_1_, #second-right-leg15_1_, #second-right-leg16_1_, #second-right-leg17_1_, #second-right-leg18_1_, #second-right-leg19_1_, #second-right-leg20_1_, #second-right-leg21_1_, #second-right-leg22_1_, #second-right-leg23_1_, #second-right-leg24_1_, #second-right-leg25_1_,

/* Велотренажеры */
#front-bike1,#front-bike2_1_, #front-bike3_1_, #back-bike1, #back-bike2_1_, #back-bike3_1_,
/* Педали */
 #right-pedal1, #right-pedal2, #right-pedal3, #left-pedal1, #left-pedal2, #left-pedal3,

/* Тела */
#body1_3_, #body3_2_, #body4_2_, #body5_2_, #body6_2_, #body7_2_, #body8_2_, #body9_2_, #body10_2_, #body11_2_, #body12_2_, #body13_2_, #body14_2_, #body15_2_, #body16_2_, #body17_2_, #body18_2_, #body19_2_, #body20_2_, #body21_2_, #body22_2_, #body23_2_, #body24_2_, #body25_2_,
/* Труселя */
#underpants1_2_, #underpants3_1_, #underpants4_1_, #underpants5_1_, #underpants6_1_, #underpants7_1_, #underpants9_1_, #underpants11_1_, #underpants12_1_, #underpants13_1_, #underpants14_1_, #underpants15_1_, #underpants16_1_, #underpants17_1_, #underpants18_1_, #underpants19_1_, #underpants20_1_, #underpants21_1_, #underpants22_1_, #underpants23_1__1_, #underpants24_1_, #underpants25_1_,
/* Лица */
#face1_3_, #face18_2_, #face19_2_, #face20_2_, #face21_2_, #face22_2_, #face25_2_,
/* Оскал */
#mouth2_3_,

/* Левые плечи */
#second-left-arm1_3_, #second-left-arm2_2_, #second-left-arm3_2_, #second-left-arm4_2_, #second-left-arm5_2_, #second-left-arm6_2_, #second-left-arm7_2_, #second-left-arm8_2_, #second-left-arm9_2_, #second-left-arm10_2_, #second-left-arm11_2_, #second-left-arm12_2_, #second-left-arm13_2_, #second-left-arm14_2_, #second-left-arm15_2_, #second-left-arm16_2_, #second-left-arm17_2_, #second-left-arm18_2_, #second-left-arm19_2_, #second-left-arm20_2_, #second-left-arm21_2_, #second-left-arm22_2_, #second-left-arm23_2_, #second-left-arm24_2_, #second-left-arm25_2_,
/* Левые предплечья */
#first-left-arm1_2_, #first-left-arm2_1_, #first-left-arm3_1_, #first-left-arm4_1_, #first-left-arm5_1_, #first-left-arm6_1_, #first-left-arm7_2_, #first-left-arm8_2_, #first-left-arm9_2_, #first-left-arm10_2_, #first-left-arm11_2_, #first-left-arm12_2_, #first-left-arm13_2_, #first-left-arm14_2_, #first-left-arm15_2_, #first-left-arm16_2_, #first-left-arm17_2_, #first-left-arm18_2_, #first-left-arm19_2_, #first-left-arm20_2_, #first-left-arm21_2_, #first-left-arm22_2_, #first-left-arm23_2_, #first-left-arm24_2_, #first-left-arm25_2_,
/* Правые плечи */
#second-right-arm1_3_, #second-right-arm2_2_, #second-right-arm3_2_, #second-right-arm4_2_, #second-right-arm5_2_, #second-right-arm6_2_, #second-right-arm7_2_, #second-right-arm8_2_, #second-right-arm9_2_, #second-right-arm10_2_, #second-right-arm11_2_, #second-right-arm12_2_, #second-right-arm13_2_, #second-right-arm14_2_, #second-right-arm15_2_, #second-right-arm16_2_, #second-right-arm17_2_, #second-right-arm18_2_, #second-right-arm19_2_, #second-right-arm20_2_, #second-right-arm21_2_, #second-right-arm22_2_, #second-right-arm23_2_, #second-right-arm24_2_, #second-right-arm25_2_,
/* Правые предплечья */
#first-right-arm1_2_, #first-right-arm2_1_, #first-right-arm3_1_, #first-right-arm4_1_, #first-right-arm5_1_, #first-right-arm6_1_, #first-right-arm7_2_, #first-right-arm8_2_, #first-right-arm9_2_, #first-right-arm10_2_, #first-right-arm11_2_, #first-right-arm12_2_, #first-right-arm13_2_, #first-right-arm14_2_, #first-right-arm15_2_, #first-right-arm16_2_, #first-right-arm17_2_, #first-right-arm18_2_, #first-right-arm19_2_, #first-right-arm20_2_, #first-right-arm21_2_, #first-right-arm22_2_, #first-right-arm23_2_, #first-right-arm24_2_, #first-right-arm25_2_,

/*  WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW */
/* Меню чара */
#game-menu,
/* Меню инвентаря  */
#game-inventory-dumb, #game-inventory-bike,
#dumbbell2-inventary, #dumbbell3-inventary, #dumbbell4-inventary, #dumbbell5-inventary, #dumbbell6-inventary, #dumbbell7-inventary, #dumbbell8-inventary, #dumbbell9-inventary, #dumbbell10-inventary, #bike2-inventory, #bike3-inventory, #energy-inventary, #protein-inventary, #steroids-inventary, #energy-inventary2, #protein-inventary2, #steroids-inventary2,
/* Меню магазина*/
#game-shop, 
#info-dumb1, #info-dumb2, #info-dumb3, #info-dumb4, #info-dumb5, #info-dumb6, #info-dumb7, #info-dumb8, #info-dumb9, #info-dumb10, #info-bike1, #info-bike2, #info-bike3, #havent-money, #info-energetic, #info-protein, #info-steroids,
#game-info-shop, #game-money-shop,
/* Меню опций */
#game-options,
/* Главное окно */
#protein-main_1_, #energy-main_1_, #legs-lvl, #body-lvl {
	display: none;
}

/* Стилизация progress-bar */
.progress-exp-dumb, .progress-exp-bike {
	top: 12.8%;
	left: 29%;
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 67%;
	height: 2.5%;
}
.progress-exp-dumb::-webkit-progress-bar, .progress-exp-bike::-webkit-progress-bar {
	background-color: #F2EEC7;
}
.progress-exp-dumb::-webkit-progress-value, .progress-exp-bike::-webkit-progress-value {
	background-color: #5782CE;
}

.progress-stamina {
	top: 17%;
	left: 29%;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 67%;
	height: 2.5%;
}
.progress-stamina::-webkit-progress-bar {
	background-color: #F2EEC7;
}
.progress-stamina::-webkit-progress-value {
	background-color: #EFE162;
}

.progress-stamina-red {
	top: 17%;
	left: 29%;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 13.4%;
	height: 2.5%;
	opacity: 0.3;
	background-color: #FF4F28;
}

/* Классы изменения цветов кнопок при нажатии */
.yellow {
	fill: #EAE298;
}
.green {
	fill: #B2E5A1;
}
.purple {
	fill: #EAB2B2;
}
.blue {
	fill: #AFDDE8;
}

/*
Extra small <576px	.col-
Small ≥576px	    .col-sm-
Medium ≥768px   	.col-md-
Large ≥992px	    .col-lg-
Extra large ≥1200px .col-lg-
*/

/* Медиа запросы ************************************************************************************************************************ */
@media screen and (max-width: 575px) {
	.menu_item {
		margin-top: 8%;
	}
	.offer {
		margin-top: 15%;
	}
	.img_logo {
		width: 80%;
	}
	.gym_pick {
		margin-top: 3%;
	}
	.container-svg {
		width: 283.5px;
		height: 504px;
	}
	.store-img {
		width: 50%;
	}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
	.offer {
		margin-top: 12%;
	}
	.img_logo {
		width: 80%;
	}
	.gym_pick {
		margin-top: 2%;
	}
	.container-svg {
		width: 324px;
		height: 576px;
	}
	.store-img {
		width: 40%;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.offer {
		margin-top: 12%;
	}
	.img_logo {
		width: 65%;
	}
	.gym_pick {
		margin-top: 2%;
		width: 80%;
	}
	.container-svg {
		width: 364.5px;
		height: 648px;
	}
	.store-img {
		width: 30%;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {

}