html, body{
	height: 100%;
	width: 100%;
	-webkit-user-select: none;
	user-select: none; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

.display-block{
	display: block;
}
.display-none{
	display: none;
}
.inline-block{
	display: inline-block;
}

.absolute{
	position: absolute !important;
}

.relative{
	position: relative !important;
}
.fixed {
	position: fixed;
}
.active {

}

/* Header     ******************************************************************* */
.header {
	background: #555134;
	padding-bottom: 5%;
	padding-top: 4%;
}

.container {

}
.logo {
	margin-top: -1%;
}

.img_logo {
	display: block;
	width: 50%;
}
.menu_item {
	margin: 3% 8% 0;
}
.menu_item a {
	font-size: 22px;
	font-weight: 600;
	color: #E8E39C;
	text-decoration: none;
}
/* Description ********************** */
.offer {
	margin-top: 15%;
}
.offer_title {
	font-size: 26px;
	color: #000;
}
.offer_text {
	font-size: 18px;
	margin-top: 3%;
	color: #000;
}

.gym_pick {
	display: block;
	margin: 18% auto 0;
	width: 100%;
}

/* Section Game ******************************************************************* */
.game {
	padding-bottom: 5%;
	padding-top: 3%;
	background: #EFEDE4;
}
.store-img {
	display: block;
	width: 20%;
}

.container-game {
	margin-top: 5%;
}


/*
Extra small <576px	.col-
Small ≥576px	    .col-sm-
Medium ≥768px   	.col-md-
Large ≥992px	    .col-lg-
Extra large ≥1200px .col-lg-
*/
/* Медиа запросы ************************************************************************************************************************ */
@media screen and (max-width: 575px) {
	.menu_item {
		margin-top: 8%;
	}
	.offer {
		margin-top: 15%;
	}
	.img_logo {
		width: 80%;
	}
	.gym_pick {
		margin-top: 3%;
	}
	.container-svg {
		width: 283.5px;
		height: 504px;
	}
	.store-img {
		width: 50%;
	}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
	.offer {
		margin-top: 12%;
	}
	.img_logo {
		width: 80%;
	}
	.gym_pick {
		margin-top: 2%;
	}
	.container-svg {
		width: 324px;
		height: 576px;
	}
	.store-img {
		width: 40%;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.offer {
		margin-top: 12%;
	}
	.img_logo {
		width: 65%;
	}
	.gym_pick {
		margin-top: 2%;
		width: 80%;
	}
	.container-svg {
		width: 364.5px;
		height: 648px;
	}
	.store-img {
		width: 30%;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {

}