body {
	font-family: 'PT Sans', sans-serif;
}

/* Header ********************************************************************************************************************* */
.header {
	background: #555134;
	padding-bottom: 5%;
	padding-top: 3%;
}
.logo {
	margin-top: 0%;
}
.img_logo {
	width: 50%;
}
.menu_item {
	margin: 3% 8% 0;
}
.menu_item a {
	font-size: 22px;
	font-weight: 600;
	color: #E8E39C;
	text-decoration: none;
}

/* Privacy  ************************************************************************************************************************* */
.privacy {
	background: #EFEDE4;
	padding-top: 5%;
}
.privacy-text {
	width: 70%;
}
h1 {
	margin-left: 26%;
}
h3 {
	margin-left: 3%;
}
h4 {
	margin-left: 5%;
}
p {
	font-size: 18px;
}


/*
Extra small <576px	.col-
Small ≥576px	    .col-sm-
Medium ≥768px   	.col-md-
Large ≥992px	    .col-lg-
Extra large ≥1200px .col-lg-
*/

/* Медиа запросы*/
@media screen and (max-width: 575px) {
	.logo {
		
	}
	.img_logo {
		width: 80%;
	}
	.menu_item {
		margin-top: 7%;
	}
	.privacy-text {
		width: 100%;
	}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
	.logo {
		
	}
	.img_logo {
		width: 80%;
	}
	.privacy-text {
		width: 90%;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.logo {
		
	}
	.img_logo {
		width: 65%;
	}
	.privacy-text {
		width: 80%;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.privacy-text {
		width: 70%;
	}
}