body {
	font-family: 'PT Sans', sans-serif;
}
div, a {
	width: 100%;
	height:  100%;
}
img {
	height:  10%;
}

.display-block{
	display: block;
}
.display-none{
	display: none;
}
.inline-block{
	display: inline-block;
}

.absolute{
	position: absolute !important;
}

.relative{
	position: relative !important;
}
.fixed {
	position: fixed;
}
.active {

}

/*
.col-sm-6 {
	border: 1px solid red;
}
*/
/* Header ********************************************************************************************************************* */
.header {
	background: #555134;
	padding-bottom: 4%;
	padding-top: 3%;
}
.logo {
	margin-top: 0%;
}
.img_logo {
	/*margin-left: 0%; */
	width: 50%;
}
.menu_item {
	margin: 3% 8% 0;
}
.menu_item a {
	font-size: 32px;
	font-weight: 600;
	color: #E8E39C;
	text-decoration: none;
}

/* Description ********************************************************************* */
.info {
	margin-top: 3%;
}
.offer {
	margin-top: 25%;
}
.offer_title {
	color: #B0AD7B;
	margin-bottom: 6%;
}
.offer_text {
	font-size: 18px;
	margin-top: -2%;
	color: #B0AD7B;
}
.phone_pick {
	display: block;
	margin: 5% auto 0;
	width: 55%;
}
.link_logo-group{
	margin-top: 7%;
}
.link_logo {
	width: 10%;
	max-height: 10%;	
	display: inline-block;
	margin-right: 5%;
}


/* Games  ************************************************************************************************************************* */
.games {
	background: #77735B;
	padding-top: 4%;
	padding-bottom: 2%;
}
.games .container {
	
}
.game-pick {
	margin-bottom: 3%;
	width: 100%;
	height: 100%;
}
.game-pick a {
	width: 100%;
	height: 100%;
}


/* Footer ************************************************************************************************************************ */
.footer {
	background: #555134;
	padding-bottom: 0.5%;
	padding-top: 2%;
}
.name {
	margin-left: 1%;
	font-size: 16px;
	color: #B0AD7B;
}
.name span {
	margin-left: 1%;
}

/*
Extra small <576px	.col-
Small ≥576px	    .col-sm-
Medium ≥768px   	.col-md-
Large ≥992px	    .col-lg-
Extra large ≥1200px .col-lg-
*/

/* Медиа запросы*/
@media screen and (max-width: 575px) {
	.logo {
		
	}
	.img_logo {
		width: 80%;
	}
	.menu_item {
		margin-top: 7%;
	}
	.offer {
		margin-top: 15%;
	}
	.phone_pick {
		width: 50%;
		margin-top: 10%;
	}
	.game-pick-line {
		margin-top: 0%;
	}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
	.logo {
		
	}
	.img_logo {
		width: 80%;
	}
	.offer {
		margin-top: 10%;
	}
	.phone_pick {
		width: 80%;
	}
	.game-pick-line {
		margin-top: 0%;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.logo {
		
	}
	.img_logo {
		width: 65%;
	}
	.offer {
		margin-top: 15%;
	}
	.phone_pick {
		width: 75%;
	}
	.game {
		width: 100% !important;
	}
	.game-pick-line {
		margin-top: 0%;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.game-pick-line {
		margin-top: -2%;
	}
}
@media screen and (min-width: 1200px) {
	.game-pick-line {
		margin-top: -3%;
	}
}



